.hidden-scrollbar::-webkit-scrollbar {
  display: none
}

.ant-input {
  background: #000;
  border: none;
  color: rgba(255, 255, 255, 0.8) !important;
}

.ant-input:focus {
  box-shadow: none !important;
}

.ant-modal-header {
  display: none !important;
}

.ant-modal-close {
  display: none !important;
}

.ant-modal-footer {
  display: none !important;
}

.default-input {
  border: 1px solid #4A4A4A !important;
  background: none !important;
}

.ant-select-selector {
  border: 1px solid #4A4A4A !important;
  background: none !important;
  box-shadow: none !important;
}

.ant-select-arrow {
  color: #fff !important;
}

.ant-select-selection-item {
  margin-right: 60px;
  color: #fff !important;
}

.ant-select-selector:hover {
  border: 1px solid #4A4A4A !important;
  box-shadow: none !important;
}

.ant-input-number {
  background: none !important;
  border: 1px solid #4A4A4A !important;
  color: #fff !important;
}

.ant-input-number-handler-wrap {
  background: none !important;
}

.ant-message-notice-content .anticon{
  color: #52c41a !important;
}

.ant-input-number-group-addon {
  border: 1px solid #4A4A4A !important;
  color: #fff !important;
}

.ant-input-number-input-wrap {
  color: #fff !important;
}

.ant-input-number-input {
  color: #fff !important;
}

// .ant-switch{
//   background: #fff !important;
// }

// .ant-switch-inner {
//   background: #979797 !important;
// }

// .ant-switch-checked .ant-switch-inner {
//   background: #979797 !important;
// }

// .ant-switch-checked .ant-switch-handle::before {
//   background: #fff !important;
//   ;
// }


// .ant-switch-inner {
//   background: #979797 !important;
// }

// .ant-switch-handle::before {
//   background: #fff !important;
//   ;
// }

// .ant-checkbox-inner {
//   background-color: #CE3900 !important;
//   border-color: #CE3900 !important;
// }
// .ant-checkbox-checked:after{
//   border: none !important;
// }

.ant-switch-checked{
  background: none !important;
}

.ant-switch-checked .ant-switch-handle::before {
  background: #fff !important;
}


.ant-switch-inner {
  background: rgba(186,186,186, 0.5) !important;
}

.ant-switch-handle::before {
  background: #fff !important;
  ;
}

.ant-checkbox-checked:after{
  border: none !important;
}

.drop-menu {
  cursor: pointer;
  width: 100%;
  padding: 4px 10px;
  img{
    image-rendering: -webkit-optimize-contrast;
  }  
}

.ant-dropdown-menu {
  background: #272727 !important;
  border-radius: 4px !important;
  color: rgba(255, 255, 255, 0.8);
  img{
    image-rendering: -webkit-optimize-contrast;
  }
  
}

.connect-component-input .ant-input-clear-icon{
  display: flex;
    align-items: center;
}

.connect-component-input{
  border:none !important;
}

.connect-component-input .ant-input{
  background: none !important;
}