.toscore-main {
  width: 1000px;
  margin: 0 auto;

  >div:nth-child(1) {
    overflow: hidden;
    margin-top: calc((100vh - 610px) / 2);

    >div:nth-child(1) {
      float: left;
    }

    >div:nth-child(2) {
      float: right;
    }
  }

  .toscore-main-base-info {
    overflow: hidden;

    >div,
    img {
      float: left;
    }

    >div:nth-child(1) {
      font-size: 16px;
      font-weight: 600;
      overflow: hidden;

    }

    >div:nth-child(2) {
      color: rgba(255, 255, 255, .5);
    }
  }

  .top-rador {
    height: 500px;
    width: 100%;
    position: relative;

    .generate {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 300px;
      width: 300px;
      z-index: 100;
      cursor: pointer;
    }

    >div:nth-child(1) {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 99;
    }

    .top-rador-info {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 9;

      .rador-info {
        overflow: hidden;
        margin-top: 190px;

        >div:nth-child(1) {
          margin-left: 65px;
          margin-right: 315px;
        }

        >div {
          float: left;
          overflow: hidden;

          >div:nth-child(1) {
            >div {
              border-right: 1px solid rgba(255, 255, 255, .5);
            }

          }

          >div {
            float: left;
            width: 140px;

            >div {

              margin-bottom: 30px;

              >p {
                text-align: center;
              }

              >p:nth-child(1) {
                font-size: 20px;
                font-family: "Jura";
                font-weight: normal;
                color: rgba(255, 255, 255, .9);
              }

              >p:nth-child(2) {
                font-size: 14px;
                color: rgba(255, 255, 255, .6);
                font-family: 'Jura';
              }
            }

            .diff-sty-info {
              margin-top: -15px;

              >p {
                >span {
                  text-align: center;
                  font-size: 16px;
                  font-family: "Jura";
                  font-weight: normal;
                  color: rgba(255, 255, 255, .9);
                }

                >span:nth-child(1) {
                  margin-right: 10px;
                }

                >span:nth-child(2) {
                  font-size: 12px;
                  margin-right: 10px;
                  color: rgba(255, 255, 255, .6);
                }
              }
            }
          }
        }
      }

    }
  }

  .influence_curation {
    display: flex;
    font-family: "Exan";
    margin-bottom: 300px;

    .influence-default-text {
      font-size: 20px;
      margin-top: 60px;

      >p:nth-child(1) {
        margin-bottom: 10px;
      }

      >p:nth-child(2) {
        text-indent: 200px;
      }
    }

    .curation-default-text {
      font-size: 20px;
      margin-top: 60px;

      >p {
        margin-bottom: 10px;
      }

      >p:nth-child(2) {
        text-indent: 420px;
      }

      >p:nth-child(3) {
        text-indent: 520px;
      }

      >p:nth-child(4) {
        text-indent: 620px;
      }
    }

    .left-rador {
      flex: 2;
      height: 310px;
    }

    .right-text {
      flex: 3;
      padding-left: 40px;

      p {
        font-size: 20px;
        font-family: "Exan";
        font-weight: 500;
        color: rgba(255, 255, 255, .8);
        margin-bottom: 20px;

        span {
          background: rgba(255, 51, 0, 1);
        }
      }
    }
  }

  .collect_pablication {
    display: flex;
    font-family: "Exan";

    .collect-default-text {
      font-size: 20px;
      width: 100%;
      margin-top: 60px;

      >div {
        width: calc(50% - 10px);
        float: left;

        >p {
          margin-bottom: 10px;
        }
      }

      >div:nth-child(1) {
        margin-right: 20px;

        >p {
          text-align: right;
        }
      }

      >div:nth-child(2) {
        >p {
          text-align: left;
        }
      }
    }

    .publication-default-text {
      font-size: 20px;
      margin-top: 60px;

      >p {
        margin-bottom: 10px;
      }

      >p:nth-child(2) {
        text-indent: 400px;
      }

      >p:nth-child(3) {
        text-indent: 600px;
      }

      >p:nth-child(4) {
        text-indent: 600px;
      }
    }

    .left-text {
      flex: 3;

      p {
        font-size: 20px;
        font-family: "Exan";
        font-weight: 500;
        color: rgba(255, 255, 255, .8);
        margin-bottom: 20px;

        span {
          padding: 1px 3px;
          background: rgba(255, 51, 0, 1);
        }
      }
    }

    .right-rador {
      flex: 2.3;
      height: 328px;
    }
  }

  .space {
    color: rgba(255, 255, 255, .9);

    font-size: 20px;
    font-family: 'Jura';
    font-weight: normal;
    color: #FFFFFF;
  }

  .net-head-img {
    background-color: rgba(255, 51, 0, 1);
    height: 54px;
    text-align: center;
    width: 54px;
    margin-right: 10px;
  }
}

.drop-menu {
  cursor: pointer;
  width: 100%;
  padding: 4px 10px;
}

.ant-dropdown-menu {
  background: #505050 !important;
  color: rgba(255, 255, 255, 0.8);
}

.ant-drawer-content-wrapper {
  width: 260px !important;
  height: 600px;
  top: 200px !important;
}

.ant-drawer-content {
  background: none !important;
}

.right-del-info {
  margin-top: 15px;
  padding-top: 20px;
}

.sdf {
  background: red;
}

.echart-icon {
  background: url("../statics/img/topIcon.png") no-repeat center center;
  height: 40px;
  width: 40px;
}

.engage-head-left-icon {
  background: url("../statics/img/follow.png") no-repeat center center;
  background-size: cover;
  height: 26px;
  width: 26px;
  margin-right: 4px;
}

.engage-head-fee-left-icon {
  background: url("../statics/img/fee-left.png") no-repeat center center;
  background-size: cover;
  height: 26px;
  width: 26px;
  margin-right: 4px;
}

.engage-head-fee-score-icon {
  background: url("../statics/img/pubIcon/matic.svg") no-repeat center center;
  background-size: cover;
  height: 26px;
  width: 26px;
  margin-right: 4px;
}

.engage-tooltip {
  max-width: 600px;
  width: fit-content;
  padding: 10px;
}

.engage-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, .1);
}

.engage-head-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.engage-head-left-des {
  font-size: 16px;
  color: rgba(255, 255, 255, .8);
}

.engage-head-left-num {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.engage-head-right {
  margin-left: auto;
  font-size: 16px;
  color: rgba(255, 255, 255, .8);
}

.engage-items {
  float: left;
  width: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.engage-items-head {
  display: flex;
  align-items: center;
}

.engage-items-head-post-icon {
  // background: url("../statics/img/post-chart.png") no-repeat center center;
  // background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.post-icon {
  background: url("../statics/img/post_icon.svg") no-repeat center center;
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.comment-icon {
  background: url("../statics/img/pubIcon/commentBig.svg") no-repeat center center;
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.engage-items-head-comment-icon {
  // background: url("../statics/img/commentT.png") no-repeat center center;
  // background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.engage-items-head-pubName,
.engage-items-comment-num,
.engage-items-mirror-num {
  color: rgba(255, 255, 255, .8);
}

.engage-items-content {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.engage-collect-items-content {
  display: flex;
  margin-top: 10px;
}

.engage-items-comment-icon {
  background: url("../statics/img/pubIcon/commentBig.svg") no-repeat center center;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.engage-items-mirror-icon {
  background: url("../statics/img/pubIcon/mirrors.svg") no-repeat center center;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.engage-items-noFee-icon {
  background: url("../statics/img/pubIcon/free.svg") no-repeat center center;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.engage-items-fee-icon {
  background: url("../statics/img/pubIcon/paid.svg") no-repeat center center;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.engage-items-comment-num {
  margin-right: 10px;
  width: 40px;
}

.open-pic {
  min-width: 1000px;
  margin: 0 auto 60px auto;
  width: 86%;

  >img {
    margin: 0 auto;
  }
}

.slick-dots-right {
  right: -20px !important;
}

.open-pic-video {
  position: absolute;
  height: 100%;
  width: 100% !important;
  left: 0;
  top: 0;
  opacity: 0.3;
  z-index: 9;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.pic-total {
  text-align: center;
  font-family: 'Jura';
  font-size: 18px;
}

.pic-con {
  overflow: hidden;
  margin-top: 80px;

  >.pic-item:nth-child(4n) {
    margin-right: 0;
  }

  >.pic-item {
    width: 240px;
    float: left;
    margin-right: calc((100% - 960px) / 3);
    margin-bottom: 40px;
    img{
      object-fit:cover;
    }
    .pic-open-item {
      width: 240px;
      height: 200px;
      margin-bottom: 20px;
      background: url("../statics/img/noOpen.png") no-repeat center center;
      background-size: cover;
      font-family: 'Exan';
      font-size: 12px;
      color: rgba(255, 255, 255, .9);
      position: relative;

      >div {
        text-align: center;
      }

      .text-top {
        position: absolute;
        top: 10px;
        width: 100%;
      }

      .text-bot {
        position: absolute;
        bottom: 10px;
        width: 100%;
      }
    }

    .pic-open-btn {
      width: 240px;
      display: flex;
      justify-content: center;
      align-items: center;

      .arrow {
        width: 10px;
      }
    }

    .reveal {
      width: 240px;
      text-align: center;
      background: url("../statics/img/bg-btn.png") no-repeat center center;
      background-size: cover;
      height: 50px;
      line-height: 50px;
      margin: 0 10px;
      cursor: pointer;
      font-family: 'Jura';
      font-size: 18px;
      color: rgba(255, 255, 255, .8);
    }
  }
}

.openPicModal {
  .open-imgTitle {
    width: 280px;
  }

  .open-imgResult {
    border: 1px solid rgba(255, 255, 255, .5);
  }
}

.openPicModal .ant-modal-footer {
  display: none;
}

.openPicModal .ant-modal-body {
  background: none !important;
}

.openPicModal .ant-modal-content {
  background: none !important;
}

.openPicModal .ant-modal-close {
  height: 30px;
  width: 30px;
  background: #fff;
  line-height: 30px;
  top: -16px;
  text-align: center;
  right: 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.openPicModal .ant-modal-close .ant-modal-close-x {
  width: 29px;
  height: 29px;
  line-height: 29px;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-pic-default {
  position: relative;
  font-size: 34px;
  color: rgba(255, 255, 255, .8);
  font-family: 'Jura';
  width: 1000px;
  margin: 100px auto;
  margin-top: 100px;
  margin-bottom: 100px;

  img {
    image-rendering: -webkit-optimize-contrast;
  }

  .character-rank {
    position: absolute;
    top: -14px;
    left: 298px;
  }

  .character-lens {
    position: absolute;
    top: 95px;
    left: 315px;
    width: 317px;
    text-align: center;
  }

  .character-score {
    position: absolute;
    top: 557px;
    left: 308px;
  }

  .character-no-share-rank {
    position: absolute;
    top: -18px;
    left: 298px;
  }

  .character-no-share-lens {
    position: absolute;
    top: 93px;
    left: 315px;
    width: 317px;
    text-align: center;
  }

  .character-no-share-score {
    position: absolute;
    top: 553px;
    left: 307px;
  }

  .clear-btn-group {
    position: absolute;
    right: 294px;
    bottom: 0px;
    width: 200px;
    background: #000;
    height: 85px;
  }

  .char-share-btnGroup {
    overflow: hidden;
    position: absolute;
    right: 280px;
    top: 610px;

    img {
      border-radius: 20px;
    }

    >div {
      float: left;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1);
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .twitter-icon {
      color: rgb(40, 168, 223);
      font-size: 24px;
      line-height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    >div:nth-child(1) {
      font-size: 20px;
      margin-right: 16px;
    }
  }
}

.open-pic-video {
  position: absolute;
  height: 100%;
  width: 100% !important;
  left: 0;
  top: 0;
  opacity: 0.3;
  z-index: 9;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.charvideo video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pub-items {
  flex-grow: 1;
  flex-basis: 20%;

  p {
    word-break: break-word
  }
}

.permission-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 60px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.permission-modal-content {
  position: absolute;
  left: 50%;
  top: calc(50% - 60px);
  background: #292929;
  transform: translate(-50%, -50%);
}

.twitter-icon svg {
  color: #26a7de;
}

.nft-right-des,
.nft-left-des {
  min-width: 1000px;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Jura";
  font-weight: normal;
  color: rgba(255, 255, 255, .8);
  font-size: 18px;
}

.nft-left-des {
  p {
    text-align: left;
    line-height: 30px;
  }
}

.nft-right-des {
  p {
    text-align: right;
    line-height: 30px;
  }
}

.slick-track {
  height: 300px !important;
}

.creat-up-icon svg {
  color: green !important;
}

.creat-down-icon svg {
  color: red !important;
}

.nft-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.engage-head-fee-score-num {
  min-width: 40px;
}

.profile-drawer .ant-drawer-mask {
  display: none !important;
}

.day-liber{
  font-family: 'Liber';
}

.radar-name1,.radar-name2,.radar-name3,.radar-name4,.radar-name5,.radar-name6{
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  background: rgb(35, 36, 41);
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100px;
  z-index: 80;
  font-size: 14px;
  box-sizing: border-box;
}
.radar-name5{
  width: 120px;
}
.radar-active{
  border: 1px solid #fff;
  color: rgba(255, 255, 255, 0.8);;
}
// permission-modal-content absolute left-[50%] top-[40%] z-100 text-[#fff] bg-[#292929] w-[500px] translate-[-50%,-50%]