

.active-radius-btn-shadow {
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.4), inset -2px -2px 2px 0px rgba(255, 255, 255, 0.1)
}

.light-style {
  background: #F59300;
  box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.6), inset 4px 4px 10px rgba(44, 46, 55, 0.2);
  svg path{
    stroke: #fff;
  }
}

.dark-style {
  background: #0029FF;

  box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.1), inset 4px 4px 10px 2px rgba(0, 0, 0, 0.6);

  
}

.dark-no-select-style{
  svg path{
    fill: #ccc;
  }
}

.text-gray {
  color: #8E8E8E;
}

.ant-drawer-content-wrapper {
  width: 280px !important;
  height: 600px;
  top: 200px !important;
}

.ant-drawer-content {
  background: none !important;
}

.right-del-info {
  margin-top: 15px;
  padding-top: 20px;
}

.engage-head-left-icon {
  background: url("../statics/img/follow.svg") no-repeat center center;
  background-size: cover;
  height: 26px;
  width: 26px;
  margin-right: 4px;
}

.engage-tooltip {
  max-width: 600px;
  min-width: 300px;
  width: fit-content;
  padding: 10px;
  overflow: hidden;
}

.engage-head {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.engage-head-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.engage-head-left-des {
  font-size: 16px;
}

.engage-head-left-num {
  font-size: 16px;
}

.engage-head-right {
  margin-left: auto;
  font-size: 16px;
}

.engage-items {
  float: left;
  width: 140px;
  margin-top: 10px;
  clear: right;
  margin-bottom: 10px;
}

.engage-items-head {
  display: flex;
  align-items: center;
}

.engage-items-head-post-icon {
  // background: url("../statics/img/post-chart.png") no-repeat center center;
  // background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.engage-content {
  overflow: hidden;
}

.engage-head-right-date {
  font-size: 18px;
}

.overflow-items {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.overflow-items-head {
  display: flex;
  align-items: center;
}

.overflow-items-content {
  margin-left: 10px;
}

.overview-border-b {
  padding-bottom: 10px;
}

.overview-des {
  margin-right: 10px;
}

.post-icon {
  background: url("../statics/img/post_icon.svg") no-repeat center center;
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.comment-icon {
  background: url("../statics/img/pubIcon/commentBig.svg") no-repeat center center;
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.mirrors-icon {
  background: url("../statics/img/mirror_1.svg") no-repeat center center;
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.collect-icon {
  background: url("../statics/img/collect-line.svg") no-repeat center center;
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.engage-items-head-comment-icon {
  // background: url("../statics/img/commentT.png") no-repeat center center;
  // background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.engage-items-content {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.engage-collect-items-content {
  display: flex;
  margin-top: 10px;
}

.engage-items-comment-icon {
  background: url("../statics/img/pubIcon/commentGray.svg") no-repeat center center;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.engage-items-mirror-icon {
  background: url("../statics/img/pubIcon/mirrors.svg") no-repeat center center;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.engage-items-noFee-icon {
  background: url("../statics/img/pubIcon/free.svg") no-repeat center center;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.engage-items-fee-icon {
  background: url("../statics/img/pubIcon/paid.svg") no-repeat center center;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.engage-items-comment-num {
  margin-right: 10px;
  // width: 40px;
}

.slick-dots-right {
  right: -20px !important;
}

.permission-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 60px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.permission-modal-content {
  position: absolute;
  left: 50%;
  top: calc(50% - 60px);
  background: #292929;
  transform: translate(-50%, -50%);
}

.twitter-icon svg {
  color: #26a7de;
}

.handle-nft .slick-track {
  height: 240px !important;
}

.creat-up-icon svg {
  color: green !important;
}

.creat-down-icon svg {
  color: red !important;
}

.nft-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.engage-head-fee-score-num {
  min-width: 40px;
}

.profile-drawer .ant-drawer-mask {
  display: none !important;
}

.day-liber {
  font-family: 'Liber';
}

.profile-v2 img {
  image-rendering: -webkit-optimize-contrast;
}

.chart-rotate-animation:hover {
  transform: rotate(90deg);
  animation: all 0.4s ease 0s;
}

.chart-rotate-animation {
  transition: all 0.4s ease 0s;
}

.chartText-scale-animation:hover {
  transform: scale(1.3);
  animation: all 0.8s linear 0s;
}

.chartText-scale-animation {
  animation: all 0.8s linear 0s;
}

.profile-nft {
  width: 700px;
}

.profile-nft div {

  // height: fit-content !important;
  .slick-dots {
    display: none !important;
  }

  .slick-list {
    height: 280px !important;
  }

  .slick-slider {
    height: 280px !important;
  }

  .ant-carousel {
    height: 280px !important;
  }
}

.slick-slide {
  display: flex !important;
  align-items: center !important;
}

.nft-bg {
  background: linear-gradient(to right, #1A1A1A, #000);
}

.dash-line-date {
  margin-top: 14px;
}

.home-main {
  background: url("../statics/img/home/bg-main.png") no-repeat;
  background-size: cover;
}

// .round1-bg {
//   background: url("../statics/img/home/round-1.svg") no-repeat center center;
//   background-size: cover;
//   background-size: 100% 100%;
// }

.bg-StartBtn {
  background: url("../statics/img/home/start-btn.svg") no-repeat center center;
  background-size: cover;
  background-size: 100% 100%;
}

.home-slack1 {
  background: url("../statics/img/home/slack1.webp") no-repeat center center;
  background-size: cover;
  background-size: 100% 100%;
}

.dash-bg-style {
  background: rgba(41, 41, 41, 0.5);
  /* dark mode 3d */
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.06), 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

.select-bg-style {
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.06), 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.ant-checkbox{
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.06), 2px 2px 4px rgba(0, 0, 0, 0.4) !important; 
}

.pass-bet:after {
  content: "";
  width: 20%;
}

.reset-slot .ant-carousel .slick-dots-bottom{
  bottom: -20px;
}